In [1]:
import nltk
import math

In [8]:
dataset = {
    "tfidf_1.txt":open("tfidf-1.txt").read(),
    "tfidf_2.txt":open("tfidf-2.txt").read(),
    "tfidf_3.txt":open("tfidf-3.txt").read(),
    "tfidf_4.txt":open("tfidf-4.txt").read(),
    "tfidf_5.txt":open("tfidf-5.txt").read(),
    "tfidf_6.txt":open("tfidf-6.txt").read(),
    "tfidf_7.txt":open("tfidf-7.txt").read(),
    "tfidf_8.txt":open("tfidf-8.txt").read(),
    "tfidf_9.txt":open("tfidf-9.txt").read(),
    "tfidf_10.txt":open("tfidf-10.txt").read()
}

In [10]:
# Calculate term frequencies
def tf(dataset, file_name):
    text = dataset[file_name]
    tokens = nltk.word_tokenize(text)
    fd = nltk.FreqDist(tokens)
    return fd

# Calculate inverse document frequency
def idf(dataset, term):
    count = [term in dataset[file_name] for file_name in dataset]
    inv_df = math.log(len(count)/sum(count))
    return inv_df

def tfidf(dataset, file_name, n):
    term_scores = {}
    file_fd = tf(dataset,file_name)
    for term in file_fd:
        if term.isalpha():
            idf_val = idf(dataset,term)
            tf_val = tf(dataset, file_name)[term]
            tfidf = tf_val*idf_val
            term_scores[term] = round(tfidf,2)
    return sorted(term_scores.items(), key=lambda x:-x[1])[:n]

In [11]:
tfidf(dataset,"tfidf_1.txt",5)

[('Soviet', 20.72),
 ('Union', 18.42),
 ('Axis', 16.12),
 ('Japan', 11.27),
 ('Germany', 11.27)]

In [13]:
idf(dataset, "world")

0.0

In [12]:
for file_name in dataset:
    print("{0}: \n {1} \n".format(file_name, tfidf(dataset,file_name,5)))

tfidf_8.txt:
 [('Titanic', 18.42), ('passengers', 11.51), ('maritime', 9.21), ('safety', 9.21), ('aboard', 9.21)]

tfidf_9.txt:
 [('Rockefeller', 23.03), ('Standard', 6.91), ('business', 6.91), ('Oil', 6.91), ('University', 4.83)]

tfidf_4.txt:
 [('Washington', 25.33), ('President', 6.44), ('preservation', 4.61), ('federal', 4.61), ('militia', 4.61)]

tfidf_6.txt:
 [('Revolution', 19.78), ('French', 14.28), ('privileges', 6.91), ('central', 6.91), ('Napoleon', 6.44)]

tfidf_5.txt:
 [('Newton', 23.03), ('scientists', 6.91), ('motion', 4.83), ('developed', 4.61), ('Trinity', 4.61)]

tfidf_10.txt:
 [('Tesla', 13.82), ('wireless', 6.44), ('electrical', 6.44), ('experiments', 4.61), ('range', 4.61)]

tfidf_7.txt:
 [('Leonardo', 18.42), ('Vinci', 9.21), ('painting', 6.91), ('Renaissance', 4.61), ('inventions', 4.61)]

tfidf_2.txt:
 [('Module', 16.12), ('lunar', 13.82), ('Armstrong', 13.82), ('Apollo', 11.51), ('Moon', 9.21)]

tfidf_1.txt:
 [('Soviet', 20.72), ('Union', 18.42), ('Axis', 16.12), ('Japan', 11.27), ('Germany', 11.27)]

tfidf_3.txt:
 [('Napoleon', 32.19), ('French', 15.38), ('Coalition', 11.51), ('Prussia', 6.91), ('military', 5.49)]